@charset "UTF-8";
.header1 {
	font-family: Tahoma, Geneva, sans-serif;
	color: #300;
	font-size: 14px;
	font-weight: normal;
}
.title1 {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 24px;
	color: #300;
}
.paragraph_text {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 18px;
	color: #300;
	font-style: normal;
}
.paragraph2 {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 18px;
	color: #300;
}
.paragraph_3 {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 16px;
	font-style: normal;
	color: #300;
	font-weight: normal;
}
.header_2 {
	font-family: Tahoma, Geneva, sans-serif;
	color: #300;
	font-size: 14px;
	font_weight:normal;
	font-decoration:none;
}
.general_text {
	font-weight: normal;
	color: #300;
	font-family: Tahoma, Geneva, sans-serif;
}

.paragraph3 {
	color: #285c93;
	font-size: 24px;
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: bold;
}
