@charset "UTF-8";
a:link {
	color: #300;
	text-decoration: none;
}
a:visited {
	font-weight: bold;
	color: #300;
}
a:hover {
	font-weight: bold;
	text-decoration: underline;
	color:#285c93;
	
.linkdarkcolor {
; 	color: #300;
}
a:focus {
	color: #300;
	font-weight:bold;
}


		
